.exchange-sect {
    position: relative;
    text-align: center;
    color: #333333;
}

.exchange-sect h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    background-color: transparent;
    opacity: 0;
}

.exchange-sect:hover .exchange-img{
    opacity: 60%;
}

.exchange-sect:hover h1{
    opacity: 1;
}

.exchange-img {
    max-width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 80% 0;
}