.navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
}

.nav-bar-container.container{
    padding-left: 8vw;
    padding-right: 8vw;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
}

.nav-link {
    font-weight: normal;
    font-size: 16px;
}